
@{
    ViewData["Title"] = "Terms";
}


<div class="card mb-3">
    <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(/OuterTools/assets/img/icons/spot-illustrations/corner-4.png);">
    </div>
</div>
    <!--/.bg-holder-->

    <div class="row g-0">
        <div class="col-lg-8 pe-lg-2">
            <div class="card mb-3">
                <div class="card-header bg-light">
                    <h5 class="mb-0" id="account">Üyelik Aydınlatma Metni</h5>
                </div>
                <div class="card-body">
                    <strong>TechByGamers</strong>&nbsp;<strong>SAN. VE TİC. A.Ş.</strong>&nbsp;veri sorumlusu sıfatıyla kişisel verilerinizin hukuka uygun olarak işlenmesini sağlamak ve gizliliğinizi korumak amacıyla m&uuml;mk&uuml;n olan en &uuml;st seviyede g&uuml;venlik tedbirini almaktadır.<br />
                    <br />
                    Amacımız;&nbsp;6698 sayılı Kişisel Verilerin Korunması Kanununun <strong>(&ldquo;Kanun&rdquo;)</strong> 10. Maddesi uyarınca kişisel verilerinizin toplanma y&ouml;ntemleri, işlenme ama&ccedil;ları, aktarıldığı alıcı grupları, işlemenin dayanağı olan hukuki sebepler ve haklarınız konularında sizi en şeffaf şekilde bilgilendirmektir.<br />
                    <strong>1-İşlenen Kişisel Veriler</strong><br />
                    <br />
                    Kimlik: Ad, Soyad, Cinsiyet<br />
                    İletişim: E-posta Adresi, Telefon, Adres<br />
                    <br />
                    İşlem G&uuml;venliği: Şifre<br />
                    <br />
                    M&uuml;şteri İşlem Bilgisi: Mesaj t&uuml;r&uuml;, mesaj konusu, konu başlığı, iletişim telefonu, sipariş numarası, &uuml;r&uuml;n adı, mesaj i&ccedil;eriği<br />
                    <br />
                    DİĞER- &Uuml;yelik İşlem Bilgisi: Mesaj t&uuml;r&uuml;, mesaj konusu, konu başlığı, mesaj i&ccedil;eriği<br />
                    <br />
                    Pazarlama: Favori &uuml;r&uuml;nler<br />
                    <br />
                    <strong>2-Kişisel Verilerin İşlenme Ama&ccedil;ları</strong><br />
                    <br />
                    Toplanan kişisel verileriniz aşağıda işleme ama&ccedil;larıyla eşleştirilmiştir:<br />
                    <br />
                    Ad, Soyad:<br />
                    &nbsp;
                    <ul>
                        <li>Pazarlama Analiz &Ccedil;alışmalarının Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>Reklam/Kampanya/Promosyon S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>&Uuml;r&uuml;n/Hizmetlerin Pazarlama S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>Mal / Hizmet Satış Sonrası Destek S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Mesajlarım alanından tarafımızla iletişime ge&ccedil;meniz halinde)</li>
                        <li>Mal / Hizmet Satış S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Adres bilgilerim alanından &ouml;n tanımlı adres eklemeniz halinde)</li>
                        <li>M&uuml;şteri İlişkileri Y&ouml;netimi S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Mesajlarım alanından tarafımızla iletişime ge&ccedil;meniz halinde)</li>
                        <li>Talep ve Şikayetlerin Takibi (Mesajlarım alanından tarafımızla iletişime ge&ccedil;meniz halinde)</li>
                        <li>S&ouml;zleşme s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi</li>
                    </ul>
                    Doğum tarihi, cinsiyet:<br />
                    &nbsp;
                    <ul>
                        <li>Pazarlama Analiz &Ccedil;alışmalarının Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>Reklam/Kampanya/Promosyon S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>&Uuml;r&uuml;n/Hizmetlerin Pazarlama S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>S&ouml;zleşme s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi</li>
                    </ul>
                    E-posta adresi:<br />
                    &nbsp;
                    <ul>
                        <li>Pazarlama Analiz &Ccedil;alışmalarının Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>Reklam/Kampanya/Promosyon S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>&Uuml;r&uuml;n/Hizmetlerin Pazarlama S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>S&ouml;zleşme s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi</li>
                    </ul>
                    Telefon:<br />
                    &nbsp;
                    <ul>
                        <li>Pazarlama Analiz &Ccedil;alışmalarının Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>Reklam/Kampanya/Promosyon S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>&Uuml;r&uuml;n/Hizmetlerin Pazarlama S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Elektronik ticari ileti g&ouml;nderilmesine ilişkin a&ccedil;ık rızanızın olması halinde)</li>
                        <li>Mal / Hizmet Satış Sonrası Destek S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Mesajlarım alanından tarafımızla iletişime ge&ccedil;meniz halinde)</li>
                        <li>Mal / Hizmet Satış S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Adres bilgilerim alanından &ouml;n tanımlı adres eklemeniz halinde)</li>
                        <li>M&uuml;şteri İlişkileri Y&ouml;netimi S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Mesajlarım alanından tarafımızla iletişime ge&ccedil;meniz halinde)</li>
                        <li>Talep ve Şikayetlerin Takibi (Mesajlarım alanından tarafımızla iletişime ge&ccedil;meniz halinde)</li>
                    </ul>
                    Adres:<br />
                    &nbsp;
                    <ul>
                        <li>Mal / Hizmet Satış S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Adres bilgilerim alanından &ouml;n tanımlı adres eklemeniz halinde)</li>
                    </ul>
                    Şifre:
                    <ul>
                        <li>S&ouml;zleşme s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi</li>
                    </ul>
                    Favori &Uuml;r&uuml;nler:
                    <ul>
                        <li>Reklam/Kampanya/Promosyon S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi</li>
                    </ul>
                    <br />
                    <br />
                    Mesaj t&uuml;r&uuml;, mesaj konusu, konu başlığı, mesaj i&ccedil;eriği, sipariş numarası, &uuml;r&uuml;n adı [Mesajlarım sekmesinden mesaj t&uuml;r&uuml;n&uuml;n kredi kartı /havale işlemleri, Sipariş / Teslim &Ouml;ncesi, Sipariş / Teslim Sonrası, Satış Sonrası (İade / Arıza) sekmelerinden birisinin se&ccedil;ilmesi halinde]:<br />
                    &nbsp;
                    <ul>
                        <li>Mal / Hizmet Satış Sonrası Destek S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Mesajlarım alanından tarafımızla iletişime ge&ccedil;meniz halinde)</li>
                        <li>M&uuml;şteri İlişkileri Y&ouml;netimi S&uuml;re&ccedil;lerinin Y&uuml;r&uuml;t&uuml;lmesi (Mesajlarım alanından tarafımızla iletişime ge&ccedil;meniz halinde)</li>
                        <li>Talep ve Şikayetlerin Takibi (Mesajlarım alanından tarafımızla iletişime ge&ccedil;meniz halinde)</li>
                    </ul>
                    <br />
                    <br />
                    Mesaj t&uuml;r&uuml;, mesaj konusu, konu başlığı, mesaj i&ccedil;eriği [Mesajlarım sekmesinden mesaj t&uuml;r&uuml;n&uuml;n &Uuml;r&uuml;nlerimiz Hakkında, Web Sitemiz Hakkında ve Mağazalarımız Hakkında sekmelerinden birisinin se&ccedil;ilmesi halinde]:<br />
                    &nbsp;
                    <ul>
                        <li>Talep ve Şikayetlerin Takibi (Mesajlarım alanından tarafımızla iletişime ge&ccedil;meniz halinde)</li>
                    </ul>
                    <strong>3-&nbsp;Kişisel Verilerin Toplanma Y&ouml;ntemi ve Hukuki Sebebi</strong><br />
                    <br />
                Kişisel verileriniz, <a href="https://www.techbygamers.com">www.techbygamers.com</a> &uuml;zerinden otomatik yollarla toplanmaktadır.<br />
                    <br />
                    Ad, soyad şeklindeki kişisel verileriniz,<br />
                    &nbsp;
                    <ul>
                        <li>İlgili kişinin a&ccedil;ık rızasının olması,</li>
                        <li>Bir s&ouml;zleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, s&ouml;zleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,</li>
                        <li>İlgili kişinin temel hak ve &ouml;zg&uuml;rl&uuml;klerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri i&ccedil;in işlemenin zorunlu olması hukuki sebeplerine dayanılarak işlenmektedir.</li>
                    </ul>
                    Doğum tarihi ve cinsiyet şeklindeki kişisel verileriniz,<br />
                    &nbsp;
                    <ul>
                        <li>İlgili kişinin a&ccedil;ık rızasının olması,</li>
                    </ul>
                    E-posta adresi şeklindeki kişisel veriniz,<br />
                    &nbsp;
                    <ul>
                        <li>İlgili kişinin a&ccedil;ık rızasının olması,</li>
                        <li>Bir s&ouml;zleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, s&ouml;zleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması hukuki sebeplerine dayanılarak işlenmektedir.</li>
                    </ul>
                    Telefon şeklindeki kişisel veriniz,<br />
                    &nbsp;
                    <ul>
                        <li>İlgili kişinin a&ccedil;ık rızasının olması,</li>
                        <li>Bir s&ouml;zleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, s&ouml;zleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,</li>
                        <li>İlgili kişinin temel hak ve &ouml;zg&uuml;rl&uuml;klerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri i&ccedil;in işlemenin zorunlu olması hukuki sebeplerine dayanılarak işlenmektedir.</li>
                    </ul>
                    Adres şeklindeki kişisel veriniz,<br />
                    &nbsp;
                    <ul>
                        <li>Bir s&ouml;zleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, s&ouml;zleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması hukuki sebebine dayanılarak işlenmektedir.</li>
                    </ul>
                    Şifre şeklindeki kişisel veriniz,<br />
                    &nbsp;
                    <ul>
                        <li>Bir s&ouml;zleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, s&ouml;zleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması hukuki sebebine dayanılarak işlenmektedir.</li>
                    </ul>
                    Favori &uuml;r&uuml;nler şeklindeki kişisel veriniz,<br />
                    &nbsp;
                    <ul>
                        <li>Bir s&ouml;zleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, s&ouml;zleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması hukuki sebebine dayanılarak işlenmektedir.</li>
                    </ul>
                    Mesaj t&uuml;r&uuml;, mesaj konusu, konu başlığı, mesaj i&ccedil;eriği, sipariş numarası, &uuml;r&uuml;n adı [Mesajlarım sekmesinden mesaj t&uuml;r&uuml;n&uuml;n kredi kartı /havale işlemleri, Sipariş / Teslim &Ouml;ncesi, Sipariş / Teslim Sonrası, Satış Sonrası (İade / Arıza) sekmelerinden birisinin se&ccedil;ilmesi halinde] şeklindeki kişisel verileriniz;
                    <ul>
                        <li>Bir s&ouml;zleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, s&ouml;zleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,</li>
                        <li>İlgili kişinin temel hak ve &ouml;zg&uuml;rl&uuml;klerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri i&ccedil;in işlemenin zorunlu olması hukuki sebeplerine dayanılarak işlenmektedir.</li>
                    </ul>
                    Mesaj t&uuml;r&uuml;, mesaj konusu, konu başlığı, mesaj i&ccedil;eriği [Mesajlarım sekmesinden mesaj t&uuml;r&uuml;n&uuml;n &Uuml;r&uuml;nlerimiz Hakkında, Web Sitemiz Hakkında ve Mağazalarımız Hakkında sekmelerinden birisinin se&ccedil;ilmesi halinde] şeklindeki kişisel verileriniz;
                    <ul>
                        <li>İlgili kişinin temel hak ve &ouml;zg&uuml;rl&uuml;klerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri i&ccedil;in işlemenin zorunlu olması hukuki sebeplerine dayanılarak işlenmektedir.</li>
                    </ul>
                    <strong>4-Kişisel Verilerin Aktarılması</strong><br />
                    <br />
                    Ad soyad, e-posta adresi şeklindeki kişisel verileriniz;<br />
                    <br />
                    Reklam/kampanya/promosyon s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi, &Uuml;r&uuml;n/Hizmetlerin Pazarlama s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi ama&ccedil;larıyla İleti G&ouml;nderim Hizmeti sunan Tedarik&ccedil;i&rsquo;lerimize aktarılabilecektir.<br />
                    <br />
                <strong>5- İlgili Kişinin&nbsp;6698 sayılı Kanun&rsquo;un 11. Maddesinde Sayılan Hakları,</strong> Haklarınıza ilişkin taleplerinizi aşağıda d&uuml;zenlenen y&ouml;ntemlerle TechByGamers&rsquo;e iletmeniz durumunda TechByGamers talebin niteliğine g&ouml;re talebi en kısa s&uuml;rede ve en ge&ccedil; otuz g&uuml;n i&ccedil;inde sonu&ccedil;landıracaktır. Verilecek cevapta on sayfaya kadar &uuml;cret alınmayacaktır. On sayfanın &uuml;zerindeki her sayfa i&ccedil;in 1 T&uuml;rk Lirası işlem &uuml;creti alınacaktır. Başvuruya cevabın CD,&nbsp;flash&nbsp;bellek gibi bir kayıt ortamında verilmesi halinde TechByGamers tarafından talep edilebilecek &uuml;cret kayıt ortamının maliyetini ge&ccedil;meyecektir.<br />
                    <br />
                    Kişisel verinin sahibi olan ilgili kişiler olarak;
                    <ul>
                        <li>Kişisel verilerinin işlenip işlenmediğini &ouml;ğrenme,</li>
                        <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
                        <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını &ouml;ğrenme,</li>
                        <li>Yurt i&ccedil;inde veya yurt dışında kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişileri bilme,</li>
                        <li>Kişisel verilerin eksik veya yanlış işlenmiş olması h&acirc;linde bunların d&uuml;zeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişilere bildirilmesini isteme,</li>
                        <li>6698 sayılı Kanun ve ilgili diğer kanun h&uuml;k&uuml;mlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması halinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişilere bildirilmesini isteme,</li>
                        <li>İşlenen verilerin m&uuml;nhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya &ccedil;ıkmasına itiraz etme,</li>
                        <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etme haklarına sahiptir.</li>
                    </ul>
                Yukarıda belirtilen haklarınızı kullanma ile ilgili talebinizi, T&uuml;rk&ccedil;e olarak; veri sorumlusu sıfatıyla TechByGamers&rsquo;in Merkezefendi Mah. Mevlana Cad. 138/1 Zeytinburnu İSTANBUL adresine kimliğinizi tevsik edici belgeler ile yazılı olarak iletebilir,&nbsp;&nbsp;<a href="/cdn-cgi/l/email-protection#ceb8afbaafa0aca7a2a9a7bdafb7afbc8ea6bdfeffe0a5abbee0babc"><span class="__cf_email__" data-cfemail="fa8c9b8e9b949893969d93899b839b88ba9289cacbd4919f8ad48e88">techbygamers@gmail.com</span></a>&nbsp; veya &nbsp;<a href="/cdn-cgi/l/email-protection#2a41435943594f465c4f5843476a5c4b5e4b444843464d43594b534b5804494547"><span class="__cf_email__" data-cfemail="94fffde7fde7f1f8e2f1e6fdf9d4e2f5e0f5faf6fdf8f3fde7f5edf5e6baf7fbf9">techbygamers@gmail.com</span></a>&nbsp; adresine kayıtlı elektronik posta olarak veya Kişisel Verileri Koruma Kurumu tarafından belirlenen diğer y&ouml;ntemler ile iletebilirsiniz.<br />
                    <br />
                    TechByGamers&rsquo;in cevap vermeden &ouml;nce kimliğinizi doğrulama hakkı saklıdır.<br />
                    <br />
                    Başvurunuzda;
                    <ol>
                        <li>Adınızın,&nbsp;soyadınızın&nbsp;ve başvuru yazılı ise imzanızın,</li>
                        <li>T&uuml;rkiye Cumhuriyeti vatandaşları i&ccedil;in T.C. Kimlik Numaranızın, yabancı iseniz uyruğunuzun, pasaport numaranızın veya varsa kimlik numaranızın,</li>
                        <li>Tebligata esas yerleşim yeri veya iş yeri adresinizin,</li>
                        <li>Varsa bildirime esas elektronik posta adresi, telefon ve faks numaranızın,</li>
                        <li>Talep konunuzun,</li>
                    </ol>
                    <p>
                        bulunması&nbsp;zorunlu olup varsa konuya ilişkin bilgi ve belgelerin de başvuruya eklenmesi gerekmektedir.<br />
                        <br />
                    TechByGamers&rsquo;3 ticari elektronik ileti g&ouml;nderilmesi amacıyla onay veren ilgili kişiler diledikleri zaman, hi&ccedil;bir gerek&ccedil;e belirtmeden vermiş oldukları iletişim bilgileri &uuml;zerinden kendileri ile genel ve &ouml;zel kampanyalar, avantajlar, &uuml;r&uuml;n, hizmet tanıtımları, reklam, pazar araştırması anketleri ve diğer m&uuml;şteri memnuniyeti uygulamaları ile ilgili iletişime ge&ccedil;ilmesini reddedebilir.<br />
                        <br />
                    İlgili kişiler/&uuml;yeler bu husustaki ret bildirimini, TechByGamers mağazalarından veya yukarıda bahsedilen ilgili diğer kanallardan ger&ccedil;ekleştirebilir.<br />
                        <br />
                        İlgili kişinin/&uuml;yenin bu husustaki a&ccedil;ık bildirimine g&ouml;re belirttiği kanallar i&ccedil;in tarafına iletişimler yasal azami s&uuml;re i&ccedil;inde durdurulur (yasalara g&ouml;re m&uuml;mk&uuml;n-gereken işlem ve iletişimler devam eder).
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <strong>6-Kişisel Verilerin Silinmesi, Yok Edilmesi, Anonim Hale Getirilmesi</strong><br />
                    &nbsp;
                <p>Kanun&rsquo;un 7.maddesi gereğince hukuka uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması halinde kişisel veriler tarafından resen veya veri sahibinin <a href="/cdn-cgi/l/email-protection#c9bfa8bda8a7aba0a5aea0baa8b0a8bb89a1baf9f8e7a2acb9e7bdbb"><span class="__cf_email__" data-cfemail="94e2f5e0f5faf6fdf8f3fde7f5edf5e6d4fce7a4a5bafff1e4bae0e6">techbygamers@gmail.com</span></a> veya <a href="/cdn-cgi/l/email-protection#365d5f455f45535a4053445f5b764057425758545f5a515f45574f57441855595b"><span class="__cf_email__" data-cfemail="84efedf7edf7e1e8f2e1f6ede9c4f2e5f0e5eae6ede8e3edf7e5fde5f6aae7ebe9">techbygamers@gmail.com</span></a> kanallarından talebini iletmesi halinde kişisel verileri silinir veya anonim hale getirir.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-light">
                    <h5 class="mb-0" id="subscriptions">Gizlilik Politikamız </h5>
                </div>
                <div class="card-body">
                <p>TechByGamers A.Ş olarak siz değerli m&uuml;şterilerimize daha iyi hizmet verebilmek amacıyla bazı kişisel bilgilerinizi (isim, yaş, adres, ilgi alanlarınız, e-posta vb.) sizlerden talep etmekteyiz. Sadece TechByGamers&rsquo;e ait sunucularda toplanan bu bilgiler, d&ouml;nemsel kampanya &ccedil;alışmaları, m&uuml;şteri profillerine y&ouml;nelik &ouml;zel promosyon faaliyetlerinin kurgulanması ve istenmeyen e-postaların iletilmemesine y&ouml;nelik m&uuml;şteri &quot;sınıflandırma&rdquo; &ccedil;alışmalarında ve en &ouml;nemlisi siz değerli m&uuml;şterilerimize daha iyi hizmet vermek maksadı ile sadece TechByGamers b&uuml;nyesinde kullanılmaktadır.</p>
                <p>TechByGamers olarak alışverişleriniz esnasında ve &uuml;yelik formlarından topladığımız bilgileri, siz değerli m&uuml;şterimizin/&uuml;yemizin haberi ya da aksi bir talimatı olmaksızın, &uuml;&ccedil;&uuml;nc&uuml; şahıslarla kesinlikle paylaşmamakta, faaliyet dışı hi&ccedil;bir nedenle ticari ama&ccedil;la kullanmamakta ve de satmamaktayız.</p>
                    <p>M&uuml;şteri bilgileri, ancak resmi makamlarca bu bilgilerin talep edilmesi halinde ve y&uuml;r&uuml;rl&uuml;kteki emredici mevzuat h&uuml;k&uuml;mleri gereğince resmi makamlara a&ccedil;ıklama yapmak zorunda olduğu durumlarda resmi makamlara a&ccedil;ıklanabilecektir. Siz değerli M&uuml;şterimizin sisteme girdiği t&uuml;m bilgilere sadece sizin tarafınızdan ulaşabilmekte ve bu bilgileri sadece siz değerli M&uuml;şterimiz değiştirebilmektesiniz. Bir başkasının bu bilgilere ulaşması ve bunları değiştirmesi m&uuml;mk&uuml;n değildir. Herhangi bir zamanda g&uuml;nl&uuml;k e-mail g&ouml;nderim listemizden &ccedil;ıkmak isterseniz, g&ouml;nderdiğimiz e-maillerin alt kısmında ve sağ &uuml;st k&ouml;şesinde bulunan &uuml;yelikten ayrıl butonuna tıklayarak kolayca &ccedil;ıkabilirsiniz.</p>
                <p>TechByGamers olarak, e-posta adresleri ve &uuml;yelik formlarında istediğimiz kişisel bilgilerin haricinde site kullanımı sırasında ziyaret&ccedil;i olarak izlediğiniz hareket ve tercihlerinizi size daha iyi bir hizmet vermek maksadı ile analiz ederek yorumlamaktayız. Kişisel bilgiler i&ccedil;ermeyen bu istatistiksel veriler siz değerli TechByGamers m&uuml;şterilerine daha &ouml;zel ve etkin bir alışveriş deneyimi yaşatmak amacıyla TechByGamers iş ortakları ile paylaşılabilmektedir.</p>
                <p>TechByGamers &Ouml;deme sayfasında istenen kredi kartı bilgileriniz, siteden alışveriş yapan siz değerli m&uuml;şterilerimizin g&uuml;venliğini en &uuml;st seviyede tutmak amacıyla hi&ccedil;bir şekilde biz TechByGamers ve bize hizmet veren şirketlerin sunucularında, iş ortaklıklarımızda veya herhangi bir veri havuzunda tutulmamaktadır. Bu şekilde &ouml;demeye y&ouml;nelik t&uuml;m işlemlerin www.techbygamers.com ara y&uuml;z&uuml; &uuml;zerinden banka ve bilgisayarınız arasında ger&ccedil;ekleşmektedir.</p>
                <p>Ayrıca www.techbygamers.com sepet, &ouml;deme ve &uuml;yelik sayfalarında &lsquo;&rsquo;Secure Sockets Layer&rsquo;&rsquo; (SSL) teknolojisi kullanılmaktadır.128 bit SSL sertifikamız sayesinde kişisel bilgileriniz şifrelendiğinden 3.şahısların ellerine ge&ccedil;mesi tamamı ile engellenmiştir.</p>
                <p>Gizlilik politikamız ve kişisel verilerin korunması ile ilgili sorunuz i&ccedil;in <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="76141f1a111f1a1318121f041b13360017021718141f1a111f05170f17045815191b00130f17">techbygamers@gmail.com</a> 0850 222 56 56 numaralı m&uuml;şteri danışma hattımızdan bize ulaşabilirsiniz.</p>
                    <b>TechByGamers. A.Ş. </b>
                </div>
            </div>

        </div>
        <div class="col-lg-4 ps-lg-2">
            <div class="sticky-sidebar">
                <div class="card sticky-top">
                    <div class="card-header border-bottom">
                        <h6 class="mb-0 fs-0">Bu sayfada bulunanlar</h6>
                    </div>
                    <div class="card-body">
                        <div class="terms-sidebar nav flex-column fs--1" id="terms-sidebar">
                            <div class="nav-item"><a class="nav-link px-0 py-1" href="#account">KKVK Aydınlatma Metni ve Üyelik Sözleşmesi</a></div>
                            <div class="nav-item"><a class="nav-link px-0 py-1" href="#subscriptions">Gizlilik Politikamız</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
